/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--second-family);
  color: var(--accent-color);
  background-color: var(--background-color);
  background-image: 
  repeating-linear-gradient(
  to right,
  var(--linear-gradient-start), var(--linear-gradient-end) 2px,
  transparent 2px, transparent 4px
  ),
  repeating-linear-gradient(
  to bottom,
  var(--linear-gradient-start), var(--linear-gradient-end) 2px,
  transparent 2px, transparent 4px
  ),
  repeating-linear-gradient(
    to bottom,
    var(--linear-gradient-start) 0.01%, 
    var(--linear-gradient-end) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 960px;
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--font-family);
  }
}

dialog {
  position: fixed;
  gap: 30px;
  padding: 30px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  z-index: 1;
  inset: 0;
}

dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.modal-content {
  display: flex;
  align-items: center;  
  gap: 20px;
  padding-bottom: 30px;
}

.modal-text {
  display: flex;
  font-family: var(--second-family);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
}

.text__dialog {
  width: 234px;
  color: var(--accent-color);
}

.floppy__dialog {
  min-width: 39px;
  min-height: 39px;
  color: var(--accent-color);
  stroke-width: 1px;
}

.close-button {
  border: none;
  background-color: transparent;
}

.button__dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--second-family);
  font-size: 14px;
  max-width: 293px;
  width: 100%;
  height: 38px;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 102px;
  padding-bottom: 100px;
}

.header__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 696px;
  /* width: 100%; */
  flex: 1 1 100%;
  height: 364px;
  background-color: var(--background-header-title);
  border: 2px solid var(--accent-color);
  padding-bottom: 25px;
}

.main__title {
  font-family: var(--second-family);
  font-size: calc(2.71038732rem + 1.50234742vw);
  padding-top: 136px;
  padding-bottom: 20px;
}

.second__title {
  font-family: var(--second-family);
  font-size: calc(0.76144366rem + 0.75117371vw);
  padding-bottom: 25px;
  
}

.section {
  max-width: 696px;
  width: 100%;
}

.theme-menu__button {
  display: flex;
  position: relative;
  padding-bottom: 14px;
  font-family: var(--second-family);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
}

.theme-menu__button:hover {
  color: var(--arrow-color);
  transition: color 0.5s;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 85%; 
  height: 2px;
  background: var(--arrow-color);
  transition: all 0.3s ease-in-out; 
  position: absolute;
  bottom: 10px; 
  left: 10; 
  transform: scaleX(0);
  transform-origin: left center; 
}

.theme-menu__button:focus-visible {
  color: var(--arrow-color);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible:active {
  color: var(--arrow-color);
}

.theme-menu__button:disabled{ 
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶"; 
  animation: arrow-bounce 2s steps(2) infinite;
  color: var(--arrow-color);
}

@keyframes arrow-bounce {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-16px);
  }
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 52px;
}


.rectangle-section {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.title {
  display: flex;
  max-width: 696px;
  width: 100%;
  max-height: 52px;
  background-color: var(--background-header-title);
  border: 2px solid var(--accent-color);
  padding: 5px 10px;
  font-size: 12px;
  font-family: var(--font-family);
  font-weight: 785;
}

.center-image {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 696px;
  width: 100%;
}

.image__item {
  position: relative;
  border-inline: 2px solid var(--accent-color);
  max-width: 696px;
  width: 100%;
  max-height: 696px;
}

.label {
  position: absolute;
  top: clamp(1.5625rem, 1.4165rem + 0.6231vw, 1.6876rem);
  right: clamp(1.4375rem, 1.2933rem + 0.6154vw, 1.5625rem);
  font-size: 14px;
  font-family: var(--second-family);
  font-weight: 400;
  text-shadow: -1px 0 var(--linear-gradient-start), 
                0 1px var(--linear-gradient-start),
                1px 0 var(--linear-gradient-start),
                0 -1px var(--linear-gradient-start);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff;)){
  .label {
    text-shadow: none;
    text-stroke: 1px var(--linear-gradient-start);
    -webkit-text-stroke: 1px var(--linear-gradient-start);
  }
}

.rectangle-section__secondary {
  /* display: flex;
  align-items: center; */
  position: relative;
  border: 2px solid var(--accent-color);
  max-width: 696px;
  width: 100%;
  }

.text-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--background-header-title);
  max-width: 696px;
  width: 100%;
  padding: 25px;
  gap: 27px;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 465;
}

.paragraph {
  max-width: 646px;
  width: 100%;
}

.text-second {
  padding: 0;
}

.card__controls {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  padding: 0 25px 25px 0;
  gap: 3px;
}

.card__like-button {
  display: flex;
  align-items: center;
  bottom: 25px;
  right: 25px;
  border: none;
  background-color: var(--background-header-title);
  gap: 12px;
  border: 2px solid var(--accent-color);
  padding: 0;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.button__text {
  /* position: relative; */
  background-color: var(--background-header-title);
  color: var(--accent-color);
  font-size: 14px;
  font-family: var(--second-family);
  outline: none;
  transition: background-color 0.5s ease-in-out, 
              color 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button .button__text {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  vertical-align: middle;
  margin: 0 auto;
}

.button__text:hover {
  color: var(--background-color);
}

.button__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
  z-index: -1;
}

.button__text:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color), 2px 2px 0 var(--accent-color);
}

.card__icon-button {
  cursor: pointer;
  /* position: absolute; */
  border: none;
  outline:2px solid transparent;
  outline-offset: -2px;
  background-color: var(--background-header-title);
  transition: color 0.3s ease,
              outline-color 0.3s ease;
  
}

.card__icon-button:focus {
  border: none;
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.heart {
  transition: fill 0.3s ease; 
}

.card__icon-button:hover .core {
  fill: var(--accent-color); 
  transition: fill 0.3s ease;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:not(:hover) .core {
  fill: transparent;
  transition: fill 0.3s ease;
}

.card__icon-button:not(:hover) .main-body {
  fill: transparent; 
  transition: fill 0.3s ease;
}

.card__icon-button:active .core {
  fill: var(--color-sparks); 
  transition: fill 0.3s ease;
}

.card__icon-button:active .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-sparks); 
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--color-sparks); 
  transition: fill 0.3s ease 0.06s; 
}

.like-icon.is-liked .core {
  fill: var(--color-sparks); 
  transition: fill 0.3s ease 0.12s; 
}

.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s forwards; 
}

@keyframes scaleHeart {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s forwards;
}

@keyframes sparks {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.like-icon:not(.is-liked) .heart {
  fill: #000;
  transition: fill 0.1s linear; 
}

.image__second {
  filter: saturate(30%);
}

.image__third {
  filter: saturate(300%);
}

.image__fourth {
  filter: hue-rotate(20deg);
}

.image__five {
  filter: invert(90%);
}

.image__sixth {
  filter: sepia(90%);
}

.image__seventh {
  filter: blur(10px);
}

.center-image {
  max-width: 696px;
  width: 100%;
  border: 2px solid var(--accent-color);
}

.image__eighth {
  filter: hue-rotate(80deg) blur(3px) contrast(50%);
}

.disk-icon  {
  position: relative;
  width: 21px;
  height: 21px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 153px;
  height: 100%;
  text-align: center;
}

.footer__button {
  display: flex;
  position: sticky;
  border: 2px solid var(--accent-color);
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 51px;
  background-color: var(--background-header-title);
  gap: 12px;
  padding: 0;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 375px) {
.header {
  max-width: 375px;
  width: 100%;
}

 .header__item {
  max-width: 375px;
  width: 100%;
}

.main__title {
  font-size: clamp(1.875rem, 1.8718rem + 5.0802vi, 3.0625rem);;
}

.second__title {
  font-size: 14px;
}

.title {
  max-width: 375px;
  width: 100%;
}

.center-image {
  max-width: 375px;
  width: 100%;
}

.image__item {
  max-width: 375px;
  width: 100%;
  height: 375px;
}

.rectangle-section__secondary {
  max-width: 375px;
  width: 100%;
}

.paragraph {
  max-width: 317.05px;
  width: 100%;
}

.disk-icon {
  width: 28px;
  height: 28px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 84px;
}
}