/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--accent-family);
  color: var(--accent-color);
  background-color: var(--background-color);
  background-image: repeating-linear-gradient(to right, var(--linear-gradient-start), var(--linear-gradient-end) 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom, var(--linear-gradient-start), var(--linear-gradient-end) 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom, var(--linear-gradient-start) 0.01%, var(--linear-gradient-end) 100%);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-family);
  }
}

.dialog {
  position: fixed;
  gap: 30px;
  padding: 30px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  z-index: 1;
  inset: 0;
}

.dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.modal-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.text__dialog {
  display: flex;
  font-family: var(--accent-family);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  color: var(--accent-color);
}

.floppy__dialog {
  width: 39px;
  height: 39px;
  color: var(--accent-color);
  stroke-width: 1px;
}

.button__dialog {
  max-width: 293px;
  width: 100%;
  height: 38px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 102px;
  padding-bottom: 100px;
}

.header__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 696px;
  flex: 1 1 100%;
  background-color: var(--background-header-title);
  border: 2px solid var(--accent-color);
}

.main__title {
  font-family: var(--accent-family);
  font-size: clamp(3.125rem, 2.7937rem + 1.4098vw, 4.0625rem);
  padding-top: 136px;
  margin-bottom: 20px;
  line-height: 100%;
  text-transform: uppercase;
}

.second__title {
  font-family: var(--accent-family);
  font-size: clamp(0.875rem, 0.6762rem + 0.8459vw, 1.4375rem);
  padding-bottom: 22px;
  text-transform: uppercase;
  line-height: 100%;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-left: 22px;
  padding-bottom: 17px;
}

.theme-menu__button {
  display: inline-block;
  position: relative;
  padding: 0;
  font-family: var(--accent-family);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  line-height: 16px;
  border: none;
  transition: opacity 0.3s ease, color 0.5s;
  cursor: pointer;
}

.theme-menu__button:hover {
  color: var(--arrow-color);
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--arrow-color);
  transition: transform 0.3s ease;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left center;
}

.theme-menu__button:focus {
  outline: 0;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  left: -20px;
  top: 0;
  animation: arrow-bounce 0.5s ease-in-out infinite alternate;
  color: var(--arrow-color);
}

.article {
  max-width: 696px;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 52px;
}

.rectangle-section {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.title {
  display: flex;
  max-width: 696px;
  width: 100%;
  background-color: var(--background-header-title);
  border: 2px solid var(--accent-color);
  font-size: 12px;
  font-family: var(--main-family);
  font-variation-settings: "wght" var(--font-weight-main);
}

.main-article__title {
  padding: 7px 10px;
  line-height: 100%;
}

.center-image {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 696px;
  width: 100%;
  border-inline: 2px solid var(--accent-color);
}

.image__item {
  display: block;
  max-width: 696px;
  width: 100%;
  max-height: 696px;
  object-fit: cover;
  object-position: center;
}

.label {
  position: absolute;
  top: clamp(1.5625rem, 1.4165rem + 0.6231vw, 1.6876rem);
  right: clamp(1.4375rem, 1.2933rem + 0.6154vw, 1.5625rem);
  font-size: 14px;
  font-family: var(--accent-family);
  font-weight: 400;
  text-shadow: -1px 0 var(--linear-gradient-start), 0 1px var(--linear-gradient-start), 1px 0 var(--linear-gradient-start), 0 -1px var(--linear-gradient-start);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  line-height: 100%;
}

@supports ((text-stroke: 1px var(--linear-gradient-start)) or (-webkit-text-stroke: 1px  var(--linear-gradient-start);
)) {
  .label {
      text-shadow: none;
      text-stroke: 1px var(--linear-gradient-start);
      -webkit-text-stroke: 1px var(--linear-gradient-start);
  }
}

.rectangle-section__secondary {
  border: 2px solid var(--accent-color);
  max-width: 696px;
  width: 100%;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--background-header-title);
  max-width: 696px;
  width: 100%;
  padding: 25px;
  gap: 27px;
  font-size: 18px;
  font-family: var(--main-family);
  font-variation-settings: "wght" var(--font-weight-second);
  line-height: 121%;
}

.paragraph {
  max-width: 646px;
  width: 100%;
}

.card__controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: var(--background-header-title);
  padding: 0 23px 23px 0;
  gap: 0px;
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0;
  font-size: 14px;
  font-family: var(--accent-family);
  background-color: var(--background-color-mode);
  color: var(--color-text-button);
  border: 2px solid var(--border-mode);
  transition: box-shadow 0.3s ease, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.button:hover {
  color: var(--color-mode);
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--before-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  mix-blend-mode: difference;
  transform: scaleX(0);
  z-index: -1;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--border-mode);
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  line-height: 90%;
}

.card__icon-button {
  cursor: pointer;
  border: none;
  outline: 2px solid transparent;
  outline-offset: -4px;
  background-color: var(--background-header-title);
  transition: color 0.3s ease, outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.heart {
  transition: fill 0.3s ease;
  transform-origin: center;
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition: fill 0.03s linear;
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-sparks);
  transition: fill 0.06s linear;
}

.like-icon .contour {
  fill: var(--color-theme);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 alternate;
}

.image__second {
  filter: saturate(30%);
}

.image__third {
  filter: saturate(300%);
}

.image__fourth {
  filter: hue-rotate(20deg);
}

.image__five {
  filter: invert(90%);
}

.image__sixth {
  filter: sepia(90%);
}

.image__seventh {
  filter: blur(10px);
}

.image__eighth {
  filter: hue-rotate(80deg) blur(3px) contrast(50%);
}

.disk-icon {
  position: relative;
  width: 21px;
  height: 21px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0 100px 0;
}

.footer__button {
  width: 335px;
  height: 51px;
}

@media (width: 375px) {
  .floppy__dialog {
      min-width: 39px;
  }

  .label {
      right: 11px;
      top: 26px;
  }

  .header {
      max-width: 375px;
      width: 100%;
  }

  .header__item {
      max-width: 375px;
      width: 100%;
  }

  .main__title {
      padding-top: 120px;
      font-size: clamp(1.875rem, 1.8718rem + 5.0802vi, 3.0625rem);
  }

  .second__title {
      font-size: 14px;
  }

  .title {
      max-width: 375px;
  }

  .center-image {
      max-width: 375px;
  }

  .image__item {
      max-width: 375px;
      height: 375px;
  }

  .rectangle-section__secondary {
      max-width: 375px;
  }

  .paragraph {
      max-width: 317.05px;
      line-height: 21px;
  }

  .card__controls {
      padding: 0 25px 20px 0;
  }

  .disk-icon {
      width: 28px;
      height: 28px;
  }

  .footer__button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 306px;
      height: 84px;
  }
}
